.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page {
	display: block;
	width: 100%;
	min-height: 100%;
	padding: 1rem 2rem;
}

.navbar-default {
  margin-bottom: 0px;
  height: 50px;
  background-color: blue;
}

.navbar-default .navbar-nav li a{
  color: yellow;
  text-align: center;
  padding: 16px 20px;
}

.navbar-default .navbar-nav li a:hover {
  color: green;
  background-color: lightblue;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}
.container {
	width: 70%;
	max-width: 750px;
	margin: 3em auto 0 auto;
	border-radius: 7px;
	-webkit-box-shadow: 0 0 4px 3px rgba(0,0,0,.3);
	box-shadow: 0 0 4px 4px rgba(0,0,0,.03);
	padding: 1em 0;
}


.contained {
	margin: 3em 7em auto 7em;
	border-radius: 7px;
	-webkit-box-shadow: 0 0 4px 3px rgba(0,0,0,.3);
	box-shadow: 0 0 4px 4px rgba(0,0,0,.03);
	padding: 1em 1em;
}

.footer {
    position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding-top: 3px;
	background-color: DarkSalmon;
	color: white;
}

input {
  display: inline-block;
  width: 15em;
  position: relative;
  margin-left: 1em;
}

label {
  display: inline-block;
  width: 15em;
  margin-left: 1em;
  padding-top: 1.5em;
}

labelshow {
  display: inline-block;
  width: 15em;
  position: relative;
  margin-left: 1em;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
